.wine-list{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.wines-list--items{
  list-style: none;
}

.wine-list :hover {
  cursor: pointer;
}

.wineDataForm{
  display: flex;
  flex-direction: column;
}